<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>MOVIE GENERATOR</title>
</head>

<body>
  <h1>PICK A GENRE YOU ARE IN THE MOOD FOR...</h1>

  <form method="POST" action="/adult/1/romance">
    <h2>Pick one:</h2>

      <li>
        Romance
      </li>
      <input type="submit">
</form>
      <li>
        Drama
      </li>

      <li>
        Horror

      </li>

      <li>
        Fantasy

      </li>

      <li>
        Documentary

      </li>

      <li>
        Comedy

      </li>

      <li>
        Action/Adventure

      </li>

      <li>
        Throwback

      </li>

      <li>
        Sport

      </li>

      <li>
        Sad
      </li>


    <!-- <input input type="text" genre = "text">
    <input type="submit">
  </form> -->

</body>
