<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>MOVIE GENERATOR</title>
</head>

<body>
  <h1>PICK A GENRE YOU ARE IN THE MOOD FOR...</h1>

  <form action="/adult/1" method="POST">
    <h2>Pick one:</h2>

      <li>
        Romance
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
        Drama
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <li>
        Horror
        <input type="radio" name="next_step" value="Q4" />
      </li>

      <li>
        Fantasy
        <input type="radio" name="next_step" value="Q5" />
      </li>

      <li>
        Documentary
        <input type="radio" name="next_step" value="Q6" />
      </li>

      <li>
        Comedy
        <input type="radio" name="next_step" value="Q7" />
      </li>

      <li>
        Action/Adventure
        <input type="radio" name="next_step" value="Q8" />
      </li>

      <li>
        Throwback
        <input type="radio" name="next_step" value="Q9" />
      </li>

      <li>
        Sport
        <input type="radio" name="next_step" value="Q10" />
      </li>

      <li>
        Sad
        <input type="radio" name="next_step" value="Q11" />
      </li>


    <button type="submit">Submit</button>
  </form>

</body>
