<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>MOVIE GENERATOR</title>
</head>

<body>
  <h1>PICK A SUB-GENRE</h1>

  <form action="/quiz/1" method="POST">

      <li>
        Romantic Comedy
        <input type="radio" name="next_step" value="Q2" />
        puts movies
      </li>

      <li>
        Romantic Drama
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <li>
        Tear Jerker
        <input type="radio" name="next_step" value="Q4" />
      </li>

      <li>
        All Romance
        <input type="radio" name="next_step" value="Q5" />
      </li>

    <button type="submit">Submit</button>

  </form>

</body>
