<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>MOVIE GENERATOR</title>
  <style>
  
  </style>
</head>

<body>
  <h1>WHAT TYPE OF MOVIE WOULD YOU LIKE TO WATCH?</h1>

  <form action="/quiz/1" method="POST">
    <h2>Pick one:</h2>

      <li>
        Adult
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
        Kid
        <input type="radio" name="next_step" value="Q3" />
      </li>

    <button type="submit">Submit</button>

  </form>

</body>
