<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>MOVIE GENERATOR</title>
  <link rel="stylesheet" type="text/css" href="/html/styles.css">
  <style>
    h1 {
      text-align: center;
      color: white;
      font-family: Luminari, fantasy;
      font-size: 300%;
    }

    p {color: gold;
        font-family: Luminari, fantasy;
        text-align: center;
        font-size: 100%;
      }

    li {
      color: light red;
      font-family: Luminari, fantasy;
      font-size: 200%;
      text-align: center;
    }
  </style>
</head>

<body background= "http://kolcovo.club/wp-content/uploads/2018/04/movie-theater-curtains-home-movie-theater-curtains-movie-theater-themed-curtains.jpg">

  <h1>Welcome to Movie Generator</h1>


  <p>Ever spent hours to find the perfect movie? Click the link below to have your life changed!</p>

  <ul>

    <li><a href="/quiz/1">Click here to find a movie!</a></li>

  </ul>

</body>

</html>
